.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  margin: 16px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-image {
  max-width: 100%;
  height: 150px; /* Fixed height to ensure consistency */
  object-fit: cover;
  border-radius: 8px;
}

.book-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px; /* Match the height of the image */
  background-color: #f0f0f0; /* Light grey background for placeholder */
  border-radius: 8px;
  color: #777; /* Color for the placeholder text */
  font-size: 24px; /* Font size for the icon */
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.details-button {
  background-color: #007bff; /* Blue color */
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.details-button:hover {
  background-color: #0056b3; /* Darker blue */
  transform: scale(1.05);
}

.details-button:focus {
  outline: none;
}

.details-button i {
  font-size: 16px; /* Adjust icon size */
}

.delete-button {
  background-color: #dc3545; /* Red color */
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-button:focus {
  outline: none;
}
