/* BookDetails.css */
.book-details-container {
  padding: 20px;
  background-color: #f4e1d2; /* Warm brown background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000; /* Black text */
}

.book-details-container p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  background-color: #fae1d1; /* Lighter brown for background around text */
  padding: 10px;
  border-radius: 5px;
  color: #000; /* Black text */
}

.book-details-container p strong {
  font-weight: bold;
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #3498db;
  color: white;
  border: none;
}

.edit-button:hover {
  background-color: #2980b9;
}

.edit-button:active {
  background-color: #1f6f99;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
}

.delete-button:hover {
  background-color: #c0392b;
}

.delete-button:active {
  background-color: #a93226;
}
